:root{
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --text-color: #333;
    --black-color: black;
}

*{
   box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", "san-serif";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.grid{
    width: 1240px;
    margin: 0 auto;
    max-width: 100%;
}
.gird__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

