/* LET TALK */
.let-talk {
  background: url(/final/img/about/banner.png) top center/ cover no-repeat;
  width: 100%;
  height: 40vh;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.let-talk h1 {
  font-size: 75px;
  color: white;
}

.let-talk span {
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

/* LOCATION*/

.location {
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.location-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.location-desc span {
  font-size: 20px;
  color: gray;
}

.location-desc h2 {
  font-size: 40px;
  margin: 20px 0;
}

.location-desc h4 {
  font-size: 20px;
}

.infor-list {
  list-style: none;
}

.infor-item {
  margin: 20px 0;
}

.infor-item i {
  font-size: 18px;
}

.infor-item span {
  margin-left: 20px;
}

.map {
  width: 50%;
}

.map iframe {
  width: 100%;
}

/* FORM */

.form {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  margin: 30px;
  padding: 80px;
  border-radius: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.contact span {
  font-size: 20px;
  color: rgb(79, 79, 79);
}

.contact h1 {
  font-size: 35px;
  margin: 14px 0;
}

.contact-inp {
  margin-bottom: 20px;
  padding: 12px 0 12px 12px;
  font-size: 16px;
  border: 1px solid gray;
  outline: none;
}

.contact textarea {
  padding: 6px 0 0px 12px;
  font-size: 16px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.contact-btn button {
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  color: white;
  background-color: #00ce8d;
  border-radius: 4px;
  cursor: pointer;
}

.contact-btn button:hover {
  background-color: #05efa5;
}


.member-item {
  display: flex;
  margin-bottom: 20px;
}

.member-item img{
  width: 65px;
  height: 65px;
}

.member-item__infor {
  margin-left: 30px;
}

.member-item__infor p {
  font-size: 16px;
  color: gray;
  margin: 0;
  line-height: 25px;
}

.member-item__infor span {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 600;
}
